@import "../../styles/colors.scss";

.table {
  border-collapse: collapse;
  border-radius: 8px;
  overflow: hidden;

  border: 1px solid $grey-primary;

  &__thead {
    height: 48px;
    color: $white;
    background-color: $grey-primary;
  }
}

.table th {
  font-size: 14px;
  border: 1px solid $grey-primary;
  padding: 8px;
  text-align: left;
}
.table td {
  border: 1px solid $grey-light;
  padding: 8px;
  text-align: left;
}

// COLUMN WIDTHS

.table {
  &__task-name {
    width: 10%;
  }
  &__dimension {
    width: 5%;
  }
  &__template-id {
    width: 8%;
  }
  &__image-layers {
    width: 18%;
  }
  &__text-layers {
    width: 18%;
  }
  &__amount {
    width: 5%;
  }
  &__gen-type {
    width: 10%;
  }
  &__gen-tasks {
    width: 8%;
  }
  &__result-ads {
    width: 8%;
  }
}

