$grey-primary: #191a1d;
$grey-secondary: #89939a;
$grey-light: #b4bdc3;
$grey-elements: #e2e6e9;
$grey-white: #fcfcfc;

$white: #ffffff;
$green: #27ae60;
$red: #eb5757;
$blue: #7757eb;

$button-hover--outline: #e2e6e9;
$button-hover--filled: #313237;
