$grey-primary: #191a1d;
$grey-secondary: #949494;
$grey-light: #b4bdc3;
$grey-elements: #e2e6e9;
$grey-white: #fcfcfc;

$white: #ffffff;
$green: #27ae60;
$red: #e77a7a;
$blue: #786af0;
$yellow: #f3c600;
$purple:#8649f8;
$orange: #f39c12;
$teal: #1abc9c;
$pink: #fd79a8;
$brown: #8e6e53;
$cyan: #00cec9;


$button-hover--outline: #e2e6e9;
$button-hover--filled: #313237;
