h1 {
  font-size: 32px;
  font-weight: 800;
}

h2 {
  font-size: 28px;
  font-weight: 800;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

button {
  font-size: 13px;
  letter-spacing: 0.4px;
}

.small-text {
  font-size: 14px;
  font-weight: 400;
}